/*! CSS Used from: Embedded */
.eui-popover{opacity:0;visibility:hidden;}
.eui-popover-content{position:absolute;bottom:100%;right:0;padding-bottom:11px;width:192px;z-index:6;}
.eui-popover-content-inner{position:relative;background:#fff;border-radius:4px;box-shadow:0 4px 16px rgba(0,0,0,0.2);}
.eui-popover-content-item{display:flex;align-items:center;color:#17191a;font-size:13px;font-weight:400;line-height:1;border-top:1px solid #e5e6e7;padding:12px 0;cursor:pointer;transition:all 0.2s ease;position:relative;text-align:left;}
.eui-popover-content-item:first-child{border:none;}
.eui-popover-content-item:hover{background:#fafafa;border-radius:4px;}
.eui-popover-content-item-icon{height:100%;width:12px;float:left;align-items:center;justify-content:center;display:inline-flex;margin-left:12px;}
.eui-popover-content-item-title{display:inline-block;margin-left:12px;}
.eui-popover-left .eui-popover-content-inner:before{right:40px;left:auto;margin-left:auto;}
.eui-slider{position:relative;height:100%;user-select:none;overflow:hidden;}
.eui-slider-inner{z-index:1;position:relative;height:100%;display:flex;transition-property:transform;}
.eui-slider-slide{width:100%;height:100%;display:inline-block;overflow:hidden;flex-grow:1;flex-shrink:0;}
.eui-slider-arrow{opacity:0;visibility:hidden;pointer-events:none;}
.eapps-instagram-feed{font-size:14px;font-family:-apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;line-height:18px;font-weight:400;overflow:hidden!important;width:100%;max-height:100%;position:relative;box-sizing:border-box;min-width:150px;min-height:100px;}
.eapps-instagram-feed-title{font-size:24px;font-weight:600;text-align:center;line-height:32px;padding:24px 10px;}
.eapps-instagram-feed-content{position:relative;width:100%;}
.eapps-instagram-feed-content-loader{color:rgba(0,0,0,0.2);}
.eapps-instagram-feed-container{width:100%;}
.eapps-instagram-feed a{text-decoration:none;color:#000;}
.eapps-instagram-feed a:hover{text-decoration:underline;}
.eui-popover-content{width:162px;}
.eui-popover-content-inner{position:relative;background:#2f353a;border-radius:4px;box-shadow:0 4px 16px rgba(0,0,0,0.2);}
.eui-popover-content-inner:before{content:'';background:#2f353a;position:absolute;bottom:-5px;right:20px;width:10px;height:10px;transform:rotateZ(-45deg);}
.eui-popover-content-item{color:#fff;border-top:1px solid #42474c;transition:all 0.2s ease;}
.eui-popover-content-item:hover{background:#42474c;}
.eui-popover-content-item-icon{height:100%;width:12px;float:left;align-items:center;justify-content:center;display:inline-flex;margin-left:12px;}
.eui-popover-content-item-icon img{width:100%;height:100%;}
.eui-popover-content-item-title{display:inline-block;margin-left:12px;}
.eapps-instagram-feed-loader{box-sizing:border-box;display:block;position:absolute;top:50%;left:50%;border-radius:50%;border-style:solid;border-top-color:transparent;animation:eapps-instagram-feed-loader 1s infinite linear;opacity:0;visibility:hidden;width:32px;height:32px;margin:-16px 0 0 -16px;border-width:2px;z-index:1;}
.eapps-instagram-feed-posts{width:100%;}
.eapps-instagram-feed-posts-container{width:100%;}
.eapps-instagram-feed-posts-inner{box-sizing:border-box;position:relative;}
.eapps-instagram-feed-posts-view{display:inline-flex;flex-direction:row;justify-content:flex-start;flex-wrap:wrap;box-sizing:border-box;width:100%;height:auto;}
.eapps-instagram-feed-posts-view.eui-slider-slide{display:inline-flex;width:100%;height:auto;}
.eapps-instagram-feed-posts-slider{position:relative;height:auto;user-select:none;cursor:-webkit-grab;cursor:grab;width:100%;}
.eapps-instagram-feed-posts-slider-inner{z-index:1;position:relative;height:auto;display:flex;width:100%;}
.eapps-instagram-feed-posts-slider-nav{background:#000;position:absolute;top:50%;width:60px;height:60px;justify-content:center;align-items:center;border-radius:50%;z-index:1;cursor:pointer;opacity:0.85;transition:all 0.2s;backface-visibility:hidden;}
.eapps-instagram-feed-posts-slider-nav-icon{width:12px;height:16px;fill:#fff;display:block;position:absolute;top:50%;transform:translateY(-50%);}
.eapps-instagram-feed-posts-slider-nav:hover{opacity:1;}
.eapps-instagram-feed-posts-slider-prev{left:0;transform:translate3d(-50%, -50%, 0);box-shadow:2px 0 5px rgba(0,0,0,0.3);}
.eapps-instagram-feed-posts-slider-prev .eapps-instagram-feed-posts-slider-nav-icon{right:12px;}
.eapps-instagram-feed-posts-slider-prev:active{transform:translate3d(-50%, -50%, 0) scale(0.9);}
.eapps-instagram-feed-posts-slider-next{right:0;transform:translate(50%, -50%);box-shadow:-2px 0 5px rgba(0,0,0,0.3);}
.eapps-instagram-feed-posts-slider-next .eapps-instagram-feed-posts-slider-nav-icon{left:12px;}
.eapps-instagram-feed-posts-slider-next:active{transform:translate3d(50%, -50%, 0) scale(0.9);}
.eapps-instagram-feed-posts-item{box-sizing:border-box;display:flex;flex-direction:column;position:relative;background:#fff;transition:opacity 0.2s ease, visibility 0.2s ease;opacity:0;visibility:hidden;overflow:hidden;flex-grow:0;flex-shrink:0;}
.eapps-instagram-feed-posts-item-visible.eapps-instagram-feed-posts-item-loaded{opacity:1;visibility:visible;}
.eapps-instagram-feed-posts-item a,.eapps-instagram-feed-posts-item a:hover{color:#003569;}
.eapps-instagram-feed-posts-item-header{display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;box-sizing:border-box;height:60px;}
.eapps-instagram-feed-posts-item-user{display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;padding:12px;box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.eapps-instagram-feed-posts-item-user-image{display:block;width:28px;height:28px;border-radius:50%;box-shadow:0 0 0 2px #fff;box-sizing:border-box;transition:all 0.2s ease;}
.eapps-instagram-feed-posts-item-user-image:hover{opacity:0.95;}
.eapps-instagram-feed-posts-item-user-image-wrapper{background:linear-gradient(40deg, #f99b4a 15%, #dd3071 50%, #c72e8d 85%);min-width:36px;height:36px;border-radius:50%;padding:4px;box-sizing:border-box;margin-right:12px;}
.eapps-instagram-feed-posts-item-user-image-wrapper > a{width:100%;height:100%;display:block;background:#fff;border-radius:50%;}
.eapps-instagram-feed-posts-item-user-name{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;font-weight:600;}
.eapps-instagram-feed-posts-item-user-name-wrapper{display:flex;flex-direction:column;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.eapps-instagram-feed-posts-item-date{text-transform:uppercase;font-size:10px;opacity:0.6;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.eapps-instagram-feed-posts-item-instagram-link{display:block;width:24px;height:24px;margin-left:auto;padding:12px 12px 12px 0;box-sizing:content-box;}
.eapps-instagram-feed-posts-item-instagram-link > a{display:block;}
.eapps-instagram-feed-posts-item-instagram-link > a > svg{width:24px;height:24px;display:block;fill:currentColor;}
.eapps-instagram-feed-posts-item-media > a{display:block;}
.eapps-instagram-feed-posts-item-link{cursor:pointer;}
.eapps-instagram-feed-posts-item-image{position:absolute;width:auto;top:50%;left:50%;transform:translate(-50%, -50%);}
.eapps-instagram-feed-posts-item-image-portrait .eapps-instagram-feed-posts-item-image{width:100%;}
.eapps-instagram-feed-posts-item-image-wrapper{padding-top:100%;position:relative;overflow:hidden;margin:-1px;}
.eapps-instagram-feed-posts-item-image-icon{display:none;position:absolute;z-index:2;top:0.6em;right:0.6em;width:24px;height:24px;transition:all 0.3s ease;}
.eapps-instagram-feed-posts-item-image-icon svg{display:block;width:24px;height:24px;fill:rgba(255,255,255,0.8);}
.eapps-instagram-feed-posts-item-type-video .eapps-instagram-feed-posts-item-image-icon-video{display:block;}
.eapps-instagram-feed-posts-item-counters a:hover{text-decoration:none;}
.eapps-instagram-feed-posts-item-likes-count,.eapps-instagram-feed-posts-item-comments-count{display:inline-flex;align-items:center;}
.eapps-instagram-feed-posts-item-likes-count-icon,.eapps-instagram-feed-posts-item-comments-count-icon{fill:currentColor;width:24px;height:24px;}
.eapps-instagram-feed-posts-item-likes-count-label,.eapps-instagram-feed-posts-item-comments-count-label{margin-left:6px;font-size:14px;}
.eapps-instagram-feed-posts-item-share{position:relative;display:inline-flex;align-items:center;cursor:pointer;}
.eapps-instagram-feed-posts-item-share-icon{fill:currentColor;}
.eapps-instagram-feed-posts-item-share-label{margin-left:6px;font-size:14px;}
.eapps-instagram-feed-posts-item-template-classic{border:1px solid rgba(0,0,0,0.1);}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-meta{display:flex;flex-direction:row;align-items:baseline;padding:12px;line-height:1;position:relative;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-meta + .eapps-instagram-feed-posts-item-content{margin-top:0;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-counters{display:flex;align-items:center;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-likes-count,.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-comments-count{margin-right:12px;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-likes-count-icon,.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-comments-count-icon{width:24px;height:24px;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-text{font-size:14px;display:inline-block;overflow:hidden;max-height:90px;width:100%;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-text-clone{opacity:0;visibility:hidden;position:absolute;left:0;right:0;max-height:none;top:0;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-share{margin-left:auto;}
.eapps-instagram-feed-posts-item-template-classic .eapps-instagram-feed-posts-item-content{margin:12px;position:relative;}
/*! CSS Used from: Embedded */
.widget{max-width:100%;}
/*! CSS Used from: Embedded */
.eapps-preview .eapps-preview-widget{width:100%;}
/*! CSS Used from: Embedded */
#eapps-instagram-feed-1{width:500px;}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-template-classic{background:rgb(255, 255, 255);}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-user-image{box-shadow:0 0 0 2px rgb(255, 255, 255);}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item,#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content,#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-text,#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item a,#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item a:hover{color:rgb(0, 0, 0);}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content a,#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content a:hover{color:rgb(0, 53, 107);}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav-icon{fill:rgb(255, 255, 255);}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav{background:rgba(0, 0, 0, 0.9);}
/*! CSS Used keyframes */
@-moz-keyframes eapps-instagram-feed-loader{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@-webkit-keyframes eapps-instagram-feed-loader{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@-o-keyframes eapps-instagram-feed-loader{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@keyframes eapps-instagram-feed-loader{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}



/*! CSS Used from: Embedded */
.eui-popover{opacity:0;visibility:hidden;}
.eui-popover-content{position:absolute;bottom:100%;right:0;padding-bottom:11px;width:192px;z-index:6;}
.eui-popover-content-inner{position:relative;background:#fff;border-radius:4px;box-shadow:0 4px 16px rgba(0,0,0,0.2);}
.eui-popover-content-item{display:flex;align-items:center;color:#17191a;font-size:13px;font-weight:400;line-height:1;border-top:1px solid #e5e6e7;padding:12px 0;cursor:pointer;transition:all 0.2s ease;position:relative;text-align:left;}
.eui-popover-content-item:first-child{border:none;}
.eui-popover-content-item:hover{background:#fafafa;border-radius:4px;}
.eui-popover-content-item-icon{height:100%;width:12px;float:left;align-items:center;justify-content:center;display:inline-flex;margin-left:12px;}
.eui-popover-content-item-title{display:inline-block;margin-left:12px;}
.eui-popover-left .eui-popover-content-inner:before{right:40px;left:auto;margin-left:auto;}
.eapps-twitter-feed-posts-item-inner{padding:16px;background-color:#fff;}
.eapps-twitter-feed-posts-item-user{display:flex;align-items:center;}
.eapps-twitter-feed-posts-item-user a{text-decoration:none;color:currentColor;}
.eapps-twitter-feed-posts-item-user a:hover{text-decoration:underline;}
.eapps-twitter-feed-posts-item-user-image{position:absolute;width:100%;}
.eapps-twitter-feed-posts-item-user-image-container{position:relative;width:40px;height:40px;min-width:40px;border-radius:50%;overflow:hidden;border:1px solid rgba(17,17,17,0.1);}
.eapps-twitter-feed-posts-item-user-name{margin-left:10px;color:#14171a;font-size:14px;line-height:16px;white-space:nowrap;display:flex;flex-direction:column;}
.eapps-twitter-feed-posts-item .eapps-twitter-feed-posts-item-user .eapps-twitter-feed-posts-item-user-name a{box-shadow:none;color:currentColor;}
.eapps-twitter-feed-posts-item-user-name a:hover{color:currentColor;}
.eapps-twitter-feed-posts-item-user-name a span{font-weight:700;}
.eapps-twitter-feed-posts-item-user-name a{display:flex;align-items:center;}
.eapps-twitter-feed-posts-item-user-name-verified{margin-left:4px;}
.eapps-twitter-feed-posts-item-user-screen-name{color:#657786;font-size:12px;line-height:18px;display:flex;margin-top:2px;}
.eapps-twitter-feed-posts-item-user-date{color:#657786;font-size:12px;line-height:18px;position:relative;white-space:nowrap;margin-left:12px;}
.eapps-twitter-feed-posts-item-user-date:before{content:"";width:2px;height:2px;background-color:#657786;position:absolute;left:-6px;top:50%;transform:translateY(-50%);}
.eapps-twitter-feed-posts-item-user-tweet{margin-left:auto;opacity:0.2;transition:0.3s ease all;position:absolute;top:16px;right:16px;}
.eapps-twitter-feed-posts-item-user-tweet:hover{opacity:1;}
.eapps-twitter-feed-posts-item-user-tweet:hover svg{fill:#32a0c2;}
.eapps-twitter-feed-posts-item-user-tweet svg{fill:#7f7f7f;transition:0.2s ease all;}
.eapps-twitter-feed-posts-item-text{color:#14171a;font-size:14px;line-height:20px;margin:12px 0;}
.eapps-twitter-feed-posts-item-text a{color:#32a0c2;text-decoration:none;}
.eapps-twitter-feed-posts-item-inner .eapps-twitter-feed-posts-item-text a{box-shadow:none;}
.eapps-twitter-feed-posts-item-text a:hover{text-decoration:underline;}
.eapps-twitter-feed-posts-item-media{margin:-1px;display:flex;flex-wrap:wrap;border-radius:10px;overflow:hidden;background:#fafafa;}
.eapps-twitter-feed-posts-item-media-show .eapps-twitter-feed-posts-item-media{margin-top:12px;}
.eapps-twitter-feed-posts-item-media-item{overflow:hidden;box-sizing:border-box;position:relative;cursor:pointer;}
.eapps-twitter-feed-posts-item-media-items-1 .eapps-twitter-feed-posts-item-media-item{display:block;width:100%;}
.eapps-twitter-feed-posts-item-media-items-1 .eapps-twitter-feed-posts-item-media-item .eapps-twitter-feed-posts-item-media-item-image{position:relative;display:block;}
.eapps-twitter-feed-posts-item-media-item-image-portrait .eapps-twitter-feed-posts-item-media-item-image{width:100%;height:auto;opacity:1;}
.eapps-twitter-feed-posts-item-link{width:100%;min-height:40px;border:1px solid #e1e8ed;border-radius:10px;overflow:hidden;position:relative;}
.eapps-twitter-feed-posts-item-link-hide{display:none;}
.eapps-twitter-feed-posts-item-link-loader{position:absolute;animation:loader-1-1 4.8s linear infinite;display:block;height:20px;width:20px;color:#e1e8ed;}
.eapps-twitter-feed-posts-item-link-loader-container{display:flex;justify-content:center;align-items:center;position:absolute;left:0;top:0;right:0;bottom:0;border-radius:4px;}
.eapps-twitter-feed-posts-item-link-loader-inner,.eapps-twitter-feed-posts-item-link-loader-inner:after{display:block;position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;box-sizing:border-box;border-radius:50%;content:"";}
.eapps-twitter-feed-posts-item-link-loader-inner{clip:rect(0, 20px, 20px, 10px);animation:loader-1-2 1.2s linear infinite;}
.eapps-twitter-feed-posts-item-link-loader-inner:after{clip:rect(0, 20px, 20px, 10px);border:3px solid currentColor;animation:loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;}
.eapps-twitter-feed-posts-item-actions{margin-top:12px;display:flex;}
.eapps-twitter-feed-posts-item-actions-item{display:flex;margin-right:24px;align-items:center;color:#657786;font-size:12px;font-weight:700;line-height:16px;text-transform:uppercase;}
.eapps-twitter-feed-posts-item-actions-item-icon,.eapps-twitter-feed-posts-item-actions-item-icon svg,.eapps-twitter-feed-posts-item-actions-item-text{transition:all 0.2s ease;pointer-events:none;}
.eapps-twitter-feed-posts-item-actions-item-comments:hover .eapps-twitter-feed-posts-item-actions-item-icon svg{fill:#1da1f2;}
.eapps-twitter-feed-posts-item-actions-item-retweets{text-decoration:none;}
.eapps-twitter-feed-posts-item-actions-item-retweets:hover .eapps-twitter-feed-posts-item-actions-item-text{color:#17bf64;}
.eapps-twitter-feed-posts-item-actions-item-retweets:hover .eapps-twitter-feed-posts-item-actions-item-icon svg{fill:#17bf64;}
.eapps-twitter-feed-posts-item-actions-item-likes{text-decoration:none;}
.eapps-twitter-feed-posts-item-actions-item-likes:hover .eapps-twitter-feed-posts-item-actions-item-text{color:#e0235e;}
.eapps-twitter-feed-posts-item-actions-item-likes:hover .eapps-twitter-feed-posts-item-actions-item-icon svg{fill:#e0235e;}
.eapps-twitter-feed-posts-item-actions-item-share{cursor:pointer;position:relative;}
.eapps-twitter-feed-posts-item-actions-item-share .eui-popover-content-item-title{text-transform:none;}
.eapps-twitter-feed-posts-item-actions-item-share:hover{text-decoration:none;}
.eapps-twitter-feed-posts-item-actions-item-share:hover .eapps-twitter-feed-posts-item-actions-item-icon svg{fill:#32a0c2;}
.eapps-twitter-feed-posts-item-actions-item-share:hover .eapps-twitter-feed-posts-item-actions-item-text{color:#32a0c2;text-decoration:none;}
.eapps-twitter-feed-posts-item-actions-item-icon{display:flex;justify-content:center;align-items:center;position:relative;}
.eapps-twitter-feed-posts-item-actions-item-icon svg{display:block;fill:#657786;}
.eapps-twitter-feed-posts-item-actions-item-text{margin-left:6px;}
.eapps-twitter-feed-posts-item-actions-item-share .eapps-twitter-feed-posts-item-actions-item-text{color:#657786;text-transform:none;text-decoration:none;}
.eapps-twitter-feed-posts-item-actions-item:last-child{margin-left:auto;margin-right:0;}
.eapps-twitter-feed-posts-item-date{display:none;}
/*! CSS Used from: Embedded */
#eapps-twitter-feed-1 .eapps-twitter-feed-posts-item-text a{border-color:#D55732;color:#D55732;}
#eapps-twitter-feed-1 .eapps-twitter-feed-posts-item-user-tweet:hover svg{fill:#D55732;}
#eapps-twitter-feed-1 .eapps-twitter-feed-posts-item-actions-item-share:hover svg{fill:#D55732;}
#eapps-twitter-feed-1 .eapps-twitter-feed-posts-item-actions-item-share:hover .eapps-twitter-feed-posts-item-actions-item-text{color:#D55732;}
/*! CSS Used keyframes */
@-moz-keyframes loader-1-1{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@-webkit-keyframes loader-1-1{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@-o-keyframes loader-1-1{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@keyframes loader-1-1{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
@-moz-keyframes loader-1-2{0%{transform:rotate(0deg);}100%{transform:rotate(220deg);}}
@-webkit-keyframes loader-1-2{0%{transform:rotate(0deg);}100%{transform:rotate(220deg);}}
@-o-keyframes loader-1-2{0%{transform:rotate(0deg);}100%{transform:rotate(220deg);}}
@keyframes loader-1-2{0%{transform:rotate(0deg);}100%{transform:rotate(220deg);}}
@-moz-keyframes loader-1-3{0%{transform:rotate(-140deg);}50%{transform:rotate(-160deg);}100%{transform:rotate(140deg);}}
@-webkit-keyframes loader-1-3{0%{transform:rotate(-140deg);}50%{transform:rotate(-160deg);}100%{transform:rotate(140deg);}}
@-o-keyframes loader-1-3{0%{transform:rotate(-140deg);}50%{transform:rotate(-160deg);}100%{transform:rotate(140deg);}}
@keyframes loader-1-3{0%{transform:rotate(-140deg);}50%{transform:rotate(-160deg);}100%{transform:rotate(140deg);}}